@media only screen and (min-width: 64rem) {
 /*HEADER*/
    .navi ul{
        margin-left: 25%;
    
    }
    .navi a{
        font-size: 20px;
        padding:15px; 
    }

    .navi .active{
        padding:15px;
        margin:0;
        color:#d09b2f;
        
    }




/*Stats*/
.stats{
    left:30px;
    padding: 35px 10px;   
    position: absolute;
    top: 150px;     
}


/*TABLE*/

table{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

table.weather img{
   
    margin: 0;
    padding:0 70px;
}


/*BOXES Index*/
#boxes .container{
    margin-left: 90px;
}

#boxes .box{
    float:left;
    width: 27%;   
    
}

#boxes .box1{
    float:left;
    width: 27%;   
    margin-top: 48px;
    
}

/*BOXES City*/
.cityMain{
    font-size: 25px;
}
#boxesC .container{
    margin-left: 90px;
}

#boxesC .boxC{
    float:left;
    width: 27%;   
    
}

#boxesC .boxC1{
    float:left;
    width: 27%;   
    margin-top: 20px;
    
}

#boxesC .boxC img{
    width:70%;
    margin-left: 60px;
}

#boxesC .boxC1 img{
    width:70%;
    margin-left: 60px;
}

#boxesC .city{
    padding: 15px 10px 15px 10px;

}
#boxesC h3{
    padding-top: 15px;
}

/*BOXES Index*/
#boxes .container{
    margin-left: 90px;
}

#boxes .box{
    float:left;
    width: 27%;   
    
}

#boxes .box1{
    float:left;
    width: 27%;   
    margin-top: 20px;
    
}

#boxes .box img{
    width:70%;
    margin-left: 60px;
}

#boxes .box1 img{
    width:70%;
    margin-left: 60px;
}

#boxes .city{
    padding: 15px 10px 15px 10px;

}
#boxesC h3{
    padding-top: 15px;
}
/*FORM*/
.form{

    font-size: 20px;
    clear: right;
    display: block;
    width: 50%;
}

.form h3{
    margin-bottom: -10px;
}

/*MAIN*/
main{
    padding:25px 100px 25px 100px;
}
main h2{
    height: 40px;
}

.thanks{
   
    line-height: 1rem;
}
/*Contacts*/
.contactInfo{
    background-color: #333232;
    color:white;
    height:300px;
    padding: 20px;
    width: 100%;
}

.contacts{
    margin-left: 350px;
    margin-top: 20px;
    text-align: center;
}

iframe{
    margin-top: 30px;
    margin-left: 90px;
    float: left;
    
}
.soc1,
   .soc2,
   .soc3{
   
      float: left;
      width:5%;
      clear: right;
      margin:3px;
    }
  }
}

