@media only screen and (min-width: 48rem) {
/*Navigation*/
nav button{
    display:none;
}

.navi .hide {
    display:block;
}

.navi a{
   
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color:rgb(0, 0, 0);
    display:block;
    padding:7px; 
    list-style: none; 
}

.navi ul{
margin-left: 15%;
}

.navi li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    
}

.navi .active{
    padding:7px;
    margin:0;
    color:#d09b2f;
    
}

nav{
    
    font-family: 'Special Elite', cursive;
    display: block;
    text-align: center;
    
}

.clearfix p{
    display: grid;
    grid-template-rows: text image;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*Stats*/
.stats{
    left:30px;
    padding: 15px 10px;    
    position: absolute;
    top: 150px;    
}


/*TABLE*/
table{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

table.weather img{
    width: 50%;
    margin:10px 0 10px 10px;
    padding:10px;
}

/*BOXES*/
#boxes .box{
    float:left;
    width: 27%;   
}

/*FORM*/
.form{

    font-size: 20px;
}


}


#76aa8c green 
#d09b2f yellow
#140f62 blue 
#545353 gray