@media only screen and (min-width: 48rem) {
/*Navigation*/
nav button{
    display:none;
}

.navi .hide {
    display:block;
}

.navi a{
   
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color:#76aa8c;
    display:block;
    padding:10px; 
    list-style: none; 
}

.navi ul{
margin-left: 15%;
}

.navi li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    
}

.navi .active{
    padding:10px;
    margin:0;
    color:#d09b2f;
    
}

nav{
    
    font-family: 'Special Elite', cursive;
    display: block;
    text-align: center;
    
}

.clearfix p{
    display: grid;
    grid-template-rows: text image;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*Stats*/
.stats{
    left:30px;
    padding: 15px 10px;    
    position: absolute;
    top: 150px;    
}


/*TABLE*/
table{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

table.weather img{
    width: 50%;
    margin:10px 0 10px 10px;
    padding:10px;
}

/*BOXES*/
#boxes .box{
    float:left;
    width: 27%;   
}
#boxes .box1{
    float:left;
    width: 27%;   
    margin-top: 20px;

}
/*FORM*/
.form{

    font-size: 20px;
}

/*Contacts*/
.contactInfo{
    background-color: #333232;
    color:white;
    height:300px;
    padding: 20px;
    width: 100%;
}

.contacts{
    margin-left: 350px;
    margin-top: 20px;
    text-align: center;
    clear: right;
}

iframe{
    margin-top: 30px;
    margin-left: 90px;
    float: left;
    
}
.socialMedia{
    margin-left: 390px;

}
.soc1,
   .soc2,
   .soc3{
    
      float: left;
      width:10%;
      clear: right;
      margin:3px;
    }
}

    
}


