.cards{
    display: grid;
    padding: 5px;
}

   .cards section{
    background-color: #86BBD8;
    margin: 10px;
    padding: 10px;
    
}

.cards{
    background-color: #33658A;
}


@media only screen and (min-width: 35rem) {

.cards{
	grid-template-columns: 1fr 1fr 1fr;
}

.cards img{
	width: 80%;
	height: 40%;
}
}

@media only screen and (min-width: 64rem) {
.cards{
	grid-template-columns: 1fr 1fr;

 }

 .cards img{
	width: autofit;
	height: autofit;
}}