@media only screen and (min-width: 64rem) {

 nav ul li a{
    
     margin-left: 50px;
 }

 .active{
    margin-left: 70px;
 }

 p{
    margin: 0;
    font-size: 1.5rem;
    
}
h2{
    margin: 0;
    font-size: 2em;
}

main{
    width: 80%;
    background-color: rgb(255, 249, 224);
    margin: auto;
    
}
.stats {

    margin-top:50px;
    font-weight: bolder;
    
    }
    .fiveDay{
       
        text-align: center;
        display:block;
        margin-left: 110px;
    }
    .fiveDay li{
        text-decoration: none;
        display:block;
        padding:1px; 
        list-style: none;
        text-align: center;
        margin-left:50px;
    }

    table p{
        font-size: 16px;
        margin: 15px;
    }

    

    table.weather img{
        width: 50%;
        margin:10px 0 10px 10px;
        padding:10px;
    }
    table.weather{
        background-color: #ffee00;
    }
    img{
        width:100%;
        padding:0;
    }

    
    .contactInfo{
        background-color: #333232;
        color:white;
        height:220px;
        padding: 20px;
        width: 100%;
    }

    .contacts{
        margin-left: 350px;
        margin-top: 20px;
        text-align: center;
    }
    
    iframe{
        margin-top: 30px;
        margin-left: 20px;
        float: left;
    }
    .socialMedia{
        display: grid;
        grid-template-columns: auto auto auto;
        width:15%;
        margin-left: 520px;
      }
    
      
      .cards{
          display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .5em;
       
     }
    
     .cards img{
        width: 90%;
        height: 40%;
    }
    .cards p{
        line-height: 2rem;
        
    }
    .cards section{
        display: grid;
       
    }
    
    footer {
        height: 55px;
        background-color:#ffdc15;
        padding: 1em 2em;
        text-align:center;
        font-family: 'Noto Sans JP', sans-serif;
        margin-top: 103px;
        width: 100%;
    
      }
    
      
}
