
@media only screen and (min-width: 48rem) {

    nav button{
        display:none;
    }
    nav ul{
        text-align: center;
        color:white;
    }

    nav ul li a{
    float:left;
    padding: .8rem 1rem;
    margin-left: 10px;
    }

    nav ul li a:hover{
    color:#000;
    background-color: #ffdc15;
    }

    .active{
    padding: .8rem 1rem;
    margin-left: 50px;
    }

    nav ul.hide {
        display:block;
    }

    .mainImg {
        width:100%;
        
    }

    p{
        margin: 0;
        font-size: 1rem;
        
    }
    h2{
        margin: 0;
        font-size: 1.5em;
        
        
    }

    .stats {
    position: absolute;
    top:25px;
    background: rgba(255, 252, 72, 0.7);
    font-weight: bolder;
    }

    .sum{
        color:rgb(75, 88, 0);
        font-weight: bold;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    .clearfix p{
        display: block;
    
    }

    .fiveDay{
        
        text-align: center;
        display:block;
    }
    
    .fiveDay img{
    float:left;
    width: 100%;
    margin-top:10px;
    
    }

    .article h2{
        text-align: center;
        display: block;
    }
    .artImg{
        float:right;
        margin:10px;
        width: 30%;
        
    }
        
    img{
        width:100%;
    }
    
    
    .cards section{
        
        display: flex;
	    flex-direction: row;
        
    }
    .cards section:nth-child(odd) {
        flex-direction: row-reverse;
    }
    div .cards{
        line-height: 1.5em;
        
    }
    .cards img{
        width: 50%;
        height: 20%;
       margin:20px 0 20px 0;
    }
    .cards h3 {
        float: right;
    }
   
    .map{
      width: 50%;
      float:left;
      border-radius: 5px;
      margin-left: 20px;
    }
    .contacts, .contacts p{
      margin-top: 0;
      
      
    }

    .socialMedia{
        display: grid;
        grid-template-columns: auto auto auto;
        width:20%;
      }

    footer {
        height: 55px;
        background-color:#ffdc15;
        padding: 1em 2em;
        text-align:center;
        font-family: 'Noto Sans JP', sans-serif;
        margin-top: 80px;
        display: block;
      }
      
      
          
      
      
    
} 