@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@300&display=swap');
@media only screen and (min-width: 20rem) {
body{
background-color: #ffffff;
padding: 0;
margin: 0;
font-family: 'Roboto', sans-serif;
color:Black;
}

img{
    width:100%;
}

.logo {
    width:140px;

}
header{
    background-color:#ffdc15;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    display:flex;
    flex-direction: column;
}

.heading h1 {
    font-size: 1.3rem;
    margin-bottom: 0;
}

.with {
    font-style:italic;
    letter-spacing: 1pt;
    color: #6e6d00;
    margin: 0 10px;
    font-size: .8rem;
}

main{
    margin: 0 5px 0 5px;
}
.mainImg, .artImg {
    width:100%;
}

.summary{
    margin: 10px auto; 
    position:relative;
}
.pre{
    margin-top: 10px;
    font-size: 1.5em;
}
h2, p{
margin: 0;
font-size: 1em;

}


.stats {
text-align: center;
left:30px;
background: #ffdc15;
border: 1px solid #3c3f3f;
padding: 15px 10px;
box-shadow: 0 0 30px #3c3f3f;
color:#000000;
}

.fiveDay{
display: none;

}
.contentbox {
    display:block;
    margin:.5em auto;
    border:1px dashed #000;
    padding:1em;
    background-color:#ebe9e9;   
}

nav{
    background-color: #3c3f3f;
    display: block;
    text-align: center;
}

nav ul{ 
    list-style: none;
    margin:0;
    padding:0;
}

nav ul li a{
    color:white;
    display:block;
    text-decoration: none;
    padding:4px; 
    list-style: none;  
}

nav ul.hide {
    display:none;
}

nav button{
   border:none;
   font-size: 30px;
   background-color: transparent;
   color: #fdc15f;
}

nav ul li a:hover{
    color:#000;
    background-color: #ffdc15;
}


.pre{
    text-align: center;
    color:#000;
}


.active{
    padding:0;
    margin:0;
    background-color:#ffdc15;
    

}

.clearfix p{
    display: grid;
    grid-template-rows: text image;

}

.artImg{
    grid-row:image;
}
.icon{
    width: 50px;
    height: 50px; 
    background-color: black;
    padding: 2%;
  }
  
  .cards section{
    
    border: 1px solid #000000;
    background-color: #ffe44b;
    padding: 3em 1em;
    margin: 1em auto;
}

   div.cards{
    margin: 5px;
    padding: 10px;  
    color: rgb(0, 0, 0); 
    line-height: 1em;
    padding: 1em;
    margin: auto;
    width: fit-content;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    
}
.cards section{
    display: grid;
}

.cards img{
    margin-top:10px;
    max-width: 100%;
}

.cards h1 {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    
}
form fieldset {
    max-width: 25rem;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin: auto auto 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
legend {
    display: none;
}

form fieldset label {
    display: block;
}


form label.top, 
form label.sbs,
form div.top {
    padding-top: 20px;
}


label.top input,
#storm-type,
#textarea, #region {
    display: block;
    width: 95%;
    height: 44px;
    border-radius: 5px;
    border: 2px solid #ffe44b;
    font-size: 16px;
    padding-left: 10px;
}

#region {
    width: 99.7%;
    height: 50px;
}

.top #date {
    width: 95%;
    height: 46px;
}

.rating { 
    display: grid;
    grid-template-columns: 9fr 1fr;
}
.rating span {
    padding-left: 1rem;
}


}
.user{
    margin-top: 10px;
}

.radio { 
    font-size: 15px;
    padding-top: 5px;
}


#textarea {
    height: 70px;
}


.submitBtn {
    margin: 20px auto 30px;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #333232;
    border: transparent;
    border-radius: 5px;
}

.submitBtn:hover {
    box-shadow:3px 3px 6px #000;
    cursor: pointer;
    background-color: #ffe44b;
    color: black;
}


 p.thank {
    margin: auto;
    padding: 4rem;
    font-size: 125%;
}
  
  .contactInfo{
   margin-top: 50px;
   padding: 50px;
   margin-right: 100px;
   
  }
   
  .socialMedia{
    display: grid;
    grid-template-columns: auto auto auto;
    width:25%;
    
  }
  
footer {
    height: 55px;
    background-color:#ffdc15;
    padding: 1em;
    text-align:center;
    font-family: 'Noto Sans JP', sans-serif;
    
  }

 


