
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@300&display=swap');
body {
  background-color: #4ca1af;
  font-family: 'Noto Sans JP', sans-serif;
  margin:auto;
  line-height: 1em;
  width: 80%;
}


main {
  background-color: #c3dfe5;
 padding-left: 3em;
 padding-right: 3em;
 
}

/* headers ------------------------------------------------------*/
header {
 
  background-image: linear-gradient(to right, #4ca1af, #494949);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));display: grid;
  grid-template-columns: 110px auto;
  text-align: center;
  
}

nav a {
color: white;
text-decoration:none;
text-align: center;
font-size: 1.3em;
}

nav ul {
  list-style: none;
  padding:3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));

}



nav a:hover {
  color: black;
  background-color: #c3dfe5;
  padding:1em;

}


img {
  max-width: 100%;
}

h1{
  padding-top: 2em;
  text-align: center;
}
h4{

  text-align: center;
  padding-bottom: 2em;
}

h2{

  margin-left:2em;
  margin-top: 1em;
  padding-left: 2em;
}

p{
  
  margin-left:2em;
  padding-bottom: 2em;
  font-family: 'Roboto', sans-serif;

}
/* TYPOGRAPHY */

.typo p {

  padding-bottom: .5em;

}

.typo{

  padding-bottom: 2em;
}




/* footerrrrrrr---------------------------------------------------- */

footer {
  height: 55px;
  background-image: linear-gradient(to right, #4ca1af, #494949);
  padding: 1em 2em;
}

footer p {
 float:left;
  display:inline;
  margin-top:10px;
}

.fb {
  float:right;
  margin-right:10px;
}

.yt {
 float:right;
   margin-right:10px;
}

.tw {
  float:right;
   margin-right:10px;
}



@media screen and (max-width: 550px) {
  .home-grid {
    display: block;
  }

  .faq {
    display: block;
  }
  .blog-1 {
    display:block;
  }
  
  footer {
    display: block;
  }
}
