
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@300&display=swap');
body {
  background-color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
  margin:auto;
  line-height: 1em;
  width: 80%;
}


main {
  background-color: #ffffff;
 padding-left: 3em;
 padding-right: 3em;
 
}

/* headers ------------------------------------------------------*/
header {
 
  background-color:#ffdc15;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:100%;
  
}

nav a {
color: white;
text-decoration:none;
text-align: center;
font-size: 1.3em;
margin: 20px;
padding:60px 30px 60px 30px;
}

nav ul {
  list-style: none;
  padding:3em;
  display: flex;
  

}



nav a:hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
  padding:50px auto;
 
}


img {
  max-width: 100%;
}

h1{
  padding-top: 2em;
  text-align: center;
}
h4{

  text-align: center;
  padding-bottom: 2em;
}

h2{

  margin-left:2em;
  margin-top: 1em;
  padding-left: 2em;
}

p{
  
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
}
/* TYPOGRAPHY */

.typo p {

  padding-bottom: .5em;

}

.typo{

  padding-bottom: 2em;
}




/* footerrrrrrr---------------------------------------------------- */

footer {
  height: 55px;
  background-color:#ffdc15;
  padding: 1em 2em;
  text-align:center;
  font-family: 'Noto Sans JP', sans-serif;
}


@media only screen and (min-width: 35rem) {

  nav{
    padding:0;
  }
  nav ul li a{
    font-size: .8em;
    padding:15px 8px 15px 8px;
  }

  nav ul{

    padding:0;
  }
  
  nav ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding:15px 8px 15px 8px;
   

  }
  
}

/* @media only screen and (min-width: ){


  header{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav{
    padding:0;
    display:flex;
    flex-direction: column;
  }
  nav ul li a{
    font-size: .3em;
    padding:0;
  }

  nav ul{

    padding:0;
  }
  
  nav ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding:15px 8px 15px 8px;
   

  }

} */

