
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap");
body {
  background-color: #4ca1af;
  font-family: "Roboto Mono", monospace, Helvetica, Arial, sans-serif;
  max-width: 80%;
  margin:auto;
  line-height: 1em;
}

nav a {
  color: white;
  text-decoration: none;
 
}

nav ul {
 
  list-style: none;

}

nav a:hover {
  color: black;
  background-color: #c3dfe5;
  line-height: 2em;
}

nav ul li{

  display: flex;
	flex-flow: column;
  justify-content: center;
}

main {
  background-color: #c3dfe5;
 
}

/* headers ------------------------------------------------------*/
header {
 
  background-image: linear-gradient(to right, #4ca1af, #494949);
}

img {
  max-width: 100%;
}

h1{
  padding-top: 2em;
  margin-left:3em;
}
h4{

  margin-left:9em;
}

h2{

  margin-left:2em;
  margin-top: 1em;
  padding-left: 2em;
}

p{
  
  margin-left:2em;

}







/* footerrrrrrr---------------------------------------------------- */

footer {
  height: 55px;
  background-image: linear-gradient(to right, #4ca1af, #494949);
  padding: 1em 2em;
}

footer p {
 float:left;
  display:inline;
  margin-top:10px;
}

.fb {
  float:right;
  margin-right:10px;
}

.yt {
 float:right;
   margin-right:10px;
}

.tw {
  float:right;
   margin-right:10px;
}



@media screen and (max-width: 550px) {
  .home-grid {
    display: block;
  }

  .faq {
    display: block;
  }
  .blog-1 {
    display:block;
  }
  
  footer {
    display: block;
  }
}
