@media only screen and (min-width: 64rem) {

 /* nav ul li a{
    
     margin-left: 90px;
 } */
.active{
    margin-left:90px;
}
 .hide{
     margin-left:290px;
 }

 p{
    margin: 0;
    font-size: 1.5rem;
    
}
h2{
    margin: 0;
    font-size: 2em;
}

main{
    display: flex;
}
.container{
    grid-template-columns: 1fr 1fr 1fr;
}

{
    grid-template-columns: 1fr 1fr 1fr;

}
    
footer {
    height: 55px;
    background-color:#ffdc15;
    padding: 1em 2em;
    text-align:center;
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 300px;

    }
.socialMedia{
    display: grid;
    grid-template-columns: auto auto auto;
    width:15%;
    }
      
}
