@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
h1 {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    color: #000000;
}


main {
width: 95%;
margin: auto;
}
div.cards {
    padding: 1em;
    margin: auto;
    display: block;
    width: fit-content;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: #0c3c3d;
    box-shadow: 0 0 10px 5px #0c3c3d;
}
.card {
    border: 1px solid rgb(255, 255, 255);
    padding: 1em;
    margin: 1em auto;
    background-color: #008585;
}
img {
    margin: auto;
    max-width: 75%;
}
footer p{
    color: #000000;
}

/* Grid Styles */

@media only screen and (min-width: 32.5em) {
    div.cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5em;
    }
    .card {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 70em) {
    div.cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

footer {
    background-color: #FCFFF7;
    text-align: center;
    padding: 1em;
    width: 95%;
    margin: auto;
}