body{
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
h2{
    background-color: #7fb9c2;

}
th{
    background-color: #628ca6 ;
    color:#e7ffed;
}
table{
    width:40%;
}
#black{
    margin-left:50px;
}