
@media only screen and (min-width: 35rem) {

    nav button{
        display:none;
    }
    nav ul{
        text-align: center;
        color:white;
    }

    nav ul li a{
    float:left;
    padding: .8rem 1rem;
    margin-left: 50px;
    }

    nav ul li a:hover{
    color:#000;
    background-color: #ffdc15;
}

    .active{
    padding: .8rem 1rem;
    margin-left: 50px;
    }

    nav ul.hide {
        display:block;
    }

    .mainImg {
        width:100%;
        
    }

    p{
        margin: 0;
        font-size: 1rem;
        
    }
    h2{
        margin: 0;
        font-size: 1.5em;

        
    }

    .stats {
    position: absolute;
    top:25px;
    background: rgba(255, 252, 72, 0.7);
    font-weight: bolder;
    }

    .sum{
        color:rgb(75, 88, 0);
        font-weight: bold;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    .clearfix p{
        display: block;
    
    }

    .fiveDay{
        margin-bottom:10%;
        text-align: center;
        display:block;
    }
    .fiveDay li{
        text-decoration: none;
        float:left;
        display:block;
        padding:1px; 
        list-style: none;
        text-align: center;
        margin-left:50px;
    }
    
    .fiveDay img{
    float:left;
    width: 50px;
    margin-top:10px;
    
    }

    .article h2{
        text-align: center;
        display: block;
    }
    .artImg{
        float:right;
        margin:10px;
        width: 30%;
        
        }
    }

}

/* .icon{
    width: 50px;
    height: 50px; 
    background-color: black;
    padding: 2%;
  }
  
  section{
    padding:5%;
    display:grid;
    grid-template-rows: [info] auto auto [map];
  }
  
  .map{
    margin: auto;
    width: 100%;
    grid-row: map;
  }
  .contactInfo{
   margin: auto;
   margin-bottom: 2%;
   grid-row:info;
  }
  .socialMedia{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  
  @media only screen and (min-width: 600px) {
    section{
      grid-template-rows: auto;
      grid-template-columns: auto auto;
    }
    .map{
      width: 90%;
    }
    .contactInfo, .contactInfo p{
      margin-top: 0;
    }
    
  } */